@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#body{
    font-family: 'Poppins', sans-serif;
    background-color: #eaeaea;
    color: #4f4f4f;
    font-size: 14px;
}

/*Buat Nav*/
#navBarSearchForm{
    font-size: 14px;
}

nav ul .fas{
    color: white; 
    font-size: 16px;
}

@media screen and (min-width:994px){
    #navBarSearchForm{
        width: 350px;;
    }
}

@media screen and (max-width:994px){
    .navbar-nav{
        text-align: center;
    }
}

nav{
    background: rgb(0, 108, 167);
}

nav .fas{
    color: rgb(0, 108, 167);
}

/*Buat Carousel*/
#carousell{
    padding: 0px;
}


/*Buat Kategori*/
.img-categ{
    width: 50px;
}

.img-categ:hover{
    transition: .3s;
    transform: scale(1.2);
}

.row-bagr{
    background-color: #fff;
    margin: 0px;
}


/*Buat Produk*/
#produk-conatainer{
    padding: 12px;
}

@media screen and (min-width:994px){
    #produk-col{
        width: 20%;
        padding: 3px; 
        margin: 0px;
        margin-bottom: 5px;
    }
}

#card-hover:hover{
    transition: .2s;
    margin-top: -5px;
    border: 1px solid rgb(0, 166, 255);
}

#produk-col button:hover{
    transition: .5s;
}

#produk-col h6{
    font-size: 14px;
    margin-bottom: 3px;
}

.card{
    cursor: pointer;
}

